<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Team</th>
      <th>Manager</th>
      <th>Stadium</th>
      <th>City</th>
      <th>More Info</th> 
    </tr>
  </thead>
  <tbody>
    {{#each teams.teams}}
      <tr>
        <td>{{name}}</td>
        <td>{{manager}}</td>
        <td>{{stadium}}</td>
        <td>{{city}}</td>
        <td>
          <a href="/team/{{id}}" class="ui icon button">
            <i class="fas fa-futbol"></i> 
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
