{{> menu id="about"}}

<section class="ui vertical segment" style="background-color: #ffffff; padding: 2em;">
  <div class="ui container">
    <h2 class="ui center aligned header">About Your Premier League App</h2>

    <p class="ui center aligned">The Premier League App now contains:</p>

    <div class="ui stackable four column grid centered padded">
      
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            <i class="futbol outline icon"></i>
          </div>
          <div class="label">
            {{displayNumTeams}} teams
          </div>
        </div>
      </div>

      
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            <i class="users icon"></i>
          </div>
          <div class="label">
            {{displayNumPlayers}} players
          </div>
        </div>
      </div>

   
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displayAverage}}
          </div>
          <div class="label">
            Avg players per team
          </div>
        </div>
      </div>

    
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displayLargestTitle}}
          </div>
          <div class="label">
            Largest Created team size
          </div>
        </div>
      </div>

      
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displaySmallestTitle}}
          </div>
          <div class="label">
            Smallest Created team size
          </div>
        </div>
      </div>
    </div>

   <div class="ui divider"></div>
  {{#with info}}
<h3 class="ui header">App Information</h3>
<div class="ui list">
  <div class="item"><strong>App Title:</strong> {{info.appTitle}}</div>
  <div class="item"><strong>Version:</strong> {{info.version}}</div>
  <div class="item">
    <strong>Created By:</strong>
    {{info.creators.name}} - {{info.creators.role}}
  </div>
  <div class="item"><strong>Location:</strong> {{info.location}}</div>
</div>
  </div>
</section>
