{{> menu id="about"}}

<section class="ui vertical segment" style="background-color: #ffffff; padding: 2em;">
  <div class="ui container">
    <h2 class="ui center aligned header">About the Premier League App</h2>

    <p class="ui center aligned">The Premier League App now contains:</p>

    <div class="ui stackable four column grid centered padded">
      <!-- Teams Statistic -->
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            <i class="futbol outline icon"></i>
          </div>
          <div class="label">
            {{displayNumTeams}} teams
          </div>
        </div>
      </div>

      <!-- Players Statistic -->
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            <i class="users icon"></i>
          </div>
          <div class="label">
            {{displayNumPlayers}} players
          </div>
        </div>
      </div>

      <!-- Average Players per Team -->
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displayAverage}}
          </div>
          <div class="label">
            Avg players per team
          </div>
        </div>
      </div>

      <!-- Largest Team Size -->
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displayLargest}}
          </div>
          <div class="label">
            Largest Created team size<br>({{#each displayLargestTitle}}{{this}} {{/each}})
          </div>
        </div>
      </div>

      <!-- Smallest Team Size -->
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{displaySmallest}}
          </div>
          <div class="label">
            Smallest Created team size<br>({{#each displaySmallestTitle}}{{this}} {{/each}})
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <h3 class="ui header">App Information</h3>
    <div class="ui list">
      <div class="item"><strong>App Title:</strong> {{info.appTitle}}</div>
      <div class="item"><strong>Version:</strong> {{info.version}}</div>
      <div class="item">
        <strong>Created By:</strong>
        {{#each info.creators}}
          {{this.name}} - {{this.role}}
        {{/each}}
      </div>
      <div class="item"><strong>Location:</strong> {{info.location}}</div>
    </div>
  </div>
</section>
