

{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>Teams Selection</h2>

      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.0.name}} 
          <img src= https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/liverpool.jpg?v=1740599263849>
        </h3>
      </section>
  
      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.1.name}}
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/arsenal.webp?v=1740600158853>
        </h3>
      </section> 
  
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.2.name}}
        </h3>
      </section>
  
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.3.name}}
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.4.name}}
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.5.name}}
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.6.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.7.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.8.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.9.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.10.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.11.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.12.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.13.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.14.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.15.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.16.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.17.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.18.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.19.name}}
        </h3>
      </section> 
  
   

</section>