

{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>Teams Selection</h2>

      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.0.name}} 
          <img src= https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/liverpool.jpg?v=1740599263849>
        </h3>
      </section>
  
      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.1.name}}
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/arsenal.webp?v=1740600158853>
        </h3>
      </section> 
  
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.2.name}}
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Manchester_City_FC_badge.svg.webp?v=1740600235216>
        </h3>
      </section>
  
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.3.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Manchester_United_FC_crest.svg.webp?v=1740600297433>
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.4.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Tottenham_Hotspur.svg.webp?v=1740600344720>
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.5.name}}
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/west%20ham.png?v=1740600441304>
        </h3>
      </section>
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.6.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Newcastle_United_Logo.svg.webp?v=1740600589337>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.7.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/download.jpg?v=1740600639110>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.8.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/bournemouth.jpg?v=1740600643681>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.9.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/brentford.png?v=1740600646728>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.10.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/brighton.png?v=1740600655063> 
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.11.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/leicester.png?v=1740600679854>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.12.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Chelsea_FC.svg.webp?v=1740600666955>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.13.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Crystal_Palace_FC_logo_(2022).svg.webp?v=1740600662449>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.14.name}}
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/everton.png?v=1740600658141>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.15.name}}
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.16.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/fulham.png?v=1740600685185>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.17.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/forrest.png?v=1740600691220>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.18.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/download.png?v=1740600650989>
        </h3>
      </section> 
  
    <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{teams.19.name}} 
          <img src = https://cdn.glitch.global/3bfe7c46-328a-4b93-9d50-6d1e027faf0e/Wolverhampton_Wanderers_FC_crest.svg.webp?v=1740600699412>
        </h3>
      </section> 
  
   

</section>