{{> menu id="listinfo"}}

<section class="ui segment">
  <h2 class="ui header">Team: {{singleTeam.name}}</h2>
  <h3>Manager: {{singleTeam.manager}}</h3>
  {{#if singleTeam.manager}}
    <a href="/team/{{singleTeam.id}}/deletemanager" class="ui red button">
      Delete Manager
    </a>
  {{/if}}

  <h3 class="ui dividing header">Players</h3>
  {{#if singleTeam.players.length}}
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Player Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each singleTeam.players}}
          <tr>
            <td>{{this}}</td>
            <td>
              <a href="/team/{{../singleTeam.id}}/deleteplayer/{{@index}}">
                <i class="ui trash icon"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No players added yet.</p>
  {{/if}}

  <h4 class="ui dividing header">Add New Player</h4>

</section>
