{{> menu id="search"}}

<section class="ui left aligned middle aligned segment">
  <form class="ui stacked segment form" action="/search" method="POST">
    <div class="field">
      <label>Select a Manager</label>
      <select name="manager" class="ui dropdown">
        <option>Please select one</option>
        {{#each managers}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <button class="ui blue button" type="submit">Search</button>
  </form>

  {{#if foundTeams.length}}
    <h3 class="ui dividing header">Teams Managed by {{managerName}}</h3>
    <ul>
      {{#each foundTeams}}
        <li>
          <a href="/team/{{this.id}}">{{this.name}}</a>  
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No teams found for the selected manager.</p>
  {{/if}}
</section>
